
/*GERAL*/
*{
	font-family: var(--font-padrao);
}

body {
    /* overflow-x: hidden; */
}

/*MAIN*/
main {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-top: 6.6rem;
}


/*SEARCH EVENTOS*/
.container_section_search_events {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    margin-bottom: 88px;
    margin-top: 1.0rem;
}

.container_section_search_events h1 {
    font-size: 8.6rem;
    color: var(--cor-secundaria);
    font-weight: 700;
    /* border: 1px solid red; */
}

.container_search_event {
    margin: 0 auto;
    display: inline;
}

.container_search_event input {
    background-color: rgba(128, 128, 128, 0.377);
    padding: 16px;
    width: 42.00rem;
    height: 3.0rem;
    border: none;
    border-radius: 8rem;
    color: black;
}

.container_search_event img {
    position: relative;
    top: 8px;
    left: 12px;
    width: 25px;
}

/*SECTIONS EVENTOS*/
.container_events {
    /* display: flex;
    flex-direction: row; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

.container_events h2 {
    padding: 8px;
    /* background-color: #993fc5; */
    width: 18%;
    border-radius: 8px;
    color: black;
    margin-left: 32px;
    font-weight: none;
    font-size: 34px;
    /* border: 1px solid red; */
}

/* .carrossel {
    display: flex;
    flex-direction: row;
} */

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-bottom: 88px;
    background-color:#EFEAFF ;
    border-radius: 48px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
    display: flex;
    flex-direction: row;
}

.div_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F5F3FC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    border-radius: 6px;
    margin-right: 32px;
}

/* .div_img_events:hover {
    zoom: 2px;
    transition: 2s;
} */

.imgs_events {
    border-radius: 3.2rem;
    /* border: 8px solid #3a1e9484; */
}

.img_logo_aviso {
    position: relative;
    left: 250px;
    bottom: 8px;
    width: 10px;
}

.img_logo_aviso img {
    width: 20px;
}

.div_events h3 {
    font-weight: 800;
}

.div_events p {
    margin-bottom: 32px;
}

.events_button_comprar button {
    font-size: 18px;
    padding: 10px;
    /* font-weight: 700; */
    border-radius: 5px;
    color: white;
    background-color: #7700B2;
    border: none;
    color: white;
    cursor: pointer;
}

/*CARROSSEL E BUTTONS*/
#btn-left {
    position: absolute;
    display: flex;
    top: 56.0rem;
    left: 7.2rem;
    height: 8.0rem;
    width: 50px;
    border-radius: 3.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 8.0rem;
    background: rgba(220, 211, 211, 0.682);
    cursor: pointer;
    font-size: calc(1px + 1.8rem);
}


#btn-right {
    position: absolute;
    display: flex;
    top: 56.0rem;
    right: 7.2rem;
    height: 8.0rem;
    width: 50px;
    border-radius: 3.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 80px;
    background: rgba(220, 211, 211, 0.682);
    cursor: pointer;
    font-size: calc(1px + 1.8rem);
}

#btn-left02 {
    position: absolute;
    display: flex;
    top: 120.0rem;
    left: 7.2rem;
    height: 8.0rem;
    width: 50px;
    border-radius: 3.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 80px;
    background: rgba(220, 211, 211, 0.682);
    cursor: pointer;
    font-size: calc(1px + 1.8rem);
}


#btn-right02 {
    position: absolute;
    display: flex;
    top: 120.0rem;
    right: 7.2rem;
    height: 8.0rem;
    width: 50px;
    border-radius: 3.2rem;
    border-radius: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 80px;
    background: rgba(220, 211, 211, 0.682);
    cursor: pointer;
    font-size: calc(1px + 1.8rem);
}

#contentSlide {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#contentSlide::-webkit-scrollbar{
    display: none;
}

#contentSlide #block {
    position: relative;
    display: inline-block;
}

#contentSlide02 {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#contentSlide02::-webkit-scrollbar{
    display: none;
}

#contentSlide02 #block {
    position: relative;
    display: inline-block;
}
