/*MEDIA QUIERES*/
@media (min-width: 320px) and (max-width: 480px) {
    /*SEARCH INPUT*/
    .container_section_search_events {
        position: relative; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 80%; 
        margin: 1.0rem auto 7.9rem auto; 
    }
    
    
    .container_section_search_events h1 {
      font-size: 5.9rem;
      color: var(--cor-secundaria);
    }
    
    .container_search_event {
      display: inline;
      margin: 0 auto;
      /* border: 1px solid red; */
    }
    
    .container_search_event input {
        width: 25.00rem;
    }
    
    .container_search_event img {
      position: relative;
      top: 8px;
      left: 12px;
      width: 25px;
    }
    
    /*PRODUTOS*/
    .product-grid {
        width: 80%; 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        margin: 20px auto; 
        /* border: 1px solid red;  */
        justify-items: center; 
        align-items: start; 
}

    .product {
      background-color: #ffffff;
      width: 120px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .product img {
      width: 100%;
      max-width: 150px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .product h2 {
      font-size: 1.4rem;
      margin: 10px 0;
    }
    
    .product p {
      font-size: 16px;
      color: #7700B2;
      margin-bottom: 10px;
    }
    
    .product button {
      padding: 10px;
      background-color: #7700B2;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 18px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .container_section_search_events h1 {
      font-size: 6.3rem;
      color: var(--cor-secundaria);
    }
    
    .container_search_event input {
        width: 32.00rem;
    }
    
    /*PRODUTOS*/
    .product-grid {
        width: 80%; 
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        margin: 20px auto; 
        /* border: 1px solid red;  */
        justify-items: center; 
        align-items: start; 
}

.product {
    background-color: #ffffff;
    width: 80%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    display: block;  /* Garante que o bloco se comporta como um elemento de bloco e é centralizado */
}

.product button {
    padding: 10px;
    background-color: #7700B2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container_section_search_events h1 {
        font-size: 6.8rem;
        color: var(--cor-secundaria);
      }
      
      .container_search_event input {
          width: 36.00rem;
      }
      
      /*PRODUTOS*/
      .product-grid {
          width: 80%; 
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          gap: 30px; 
          margin: 20px auto; 
          /* border: 1px solid red;  */
          justify-items: center; 
          align-items: start; 
  }
  
  .product {
      background-color: #ffffff;
      width: 80%;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 auto;
      display: block;  /* Garante que o bloco se comporta como um elemento de bloco e é centralizado */
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .container_section_search_events h1 {
        font-size: 7.5rem;
        color: var(--cor-secundaria);
      }
      
      .container_search_event input {
          width: 40.00rem;
      }
      
    
      
      .product-grid {
          width: 75%; 
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 40px; 
          margin: 30px auto; 
          justify-items: center; 
          align-items: start;
        }
        
        .product {
            background-color: #ffffff;
            width: 50%;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 0 auto;
            display: block; 
        }
    
}
